/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./root.css');

* {
  box-sizing: border-box;
}
/* gallery */
body {
  background-color: #fff;
}
.gallery {
  max-width: 1128px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
}

.gallery-item :hover {
  transform: scale(1.04);
}

.gallery-image {
  width: 360px;
  height: 200px;
}

/* Form */

.feedback-form {
  margin: 24px;
}

.label {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  gap: 8px;
  width: 360px;
  border-radius: 4px;
}
input {
  height: 40px;
}

input,
textarea {
  padding: 8px 16px;
}
input:hover {
  border: 1px solid #000;
}

.message {
  margin-top: 8px;
}

button {
  margin-top: 16px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #6c8cff;
}
